/Testing/nbproject/private/
/Testing/build/
/Parcial_Ing2/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/